---
title: 'About | Castro Construction'
description: 'About me page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
      
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Our Mission</h2>
                <p class="cs-text">
                    Castro Construction provides quality framing and exterior finish for luxury residential and commercial buildings, completing each project on time and on budget. We deliver for our customers the highest level of quality construction services at market-competitive prices.
                </p>
                <h2 class="cs-title">Our Values</h2>
                <p class="cs-text">
                    Castro Construction employs a team of skilled carpenters and foremen who serve our clients with honesty and integrity. We rely on the satisfaction of our customers to maintain our stellar reputation. Repeat business is assured, as we strive to exceed expectations.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Put a quote from Michael here talking about the company.
                    </p>
                    <span class="cs-name">Michael Castro</span>
                    <span class="cs-job">President</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
            
        </div>
        <div class="cs-management-container">
            <h2 class="cs-title">Meet Our Management</h2>
            <div class="card">
                <picture class="profile-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/michael-castro-profile-pic.jpeg">
                        <source media="(min-width: 601px)" srcset="/assets/images/michael-castro-profile-pic.jpeg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/michael-castro-profile-pic.jpeg" alt="Michael Castro Profile" loading="lazy" width="247" height="206">
                </picture>
                <p class="cs-flex-p">Michael started Castro Construction in 1998 building arbors, fences, and decks. With the high quality of his work, he soon found himself managing remodels and larger projects. Michael grew his company and started framing large, estate-style homes in Pebble Beach and Los Gatos. His main focus is quality construction, customer service and budget. In his spare time, he enjoys surfing, hiking, traveling, and spending time with his three daughters. </p>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}